@import url('reset.css');

.wrapper{
	width: 80%;
	margin: 0 auto;
}
header{
	font-size: 0;
	margin-bottom: 500px;
}
.base{
	width: 200px;
	height: 200px;
	background-color: rgba(127, 255, 148, 0.4);
	
}
.translate__item, .scale__item, .rotate__item, .skew__item, .matrix__item, .transform-origin__item{
	width: 200px;
	height: 200px;
	background-color: rgb(85, 197, 104);
	transition: all 0.8s;
}
.translate:hover .translate__item{
	transform: translate(20px,20px);

}
h4{
	text-transform: uppercase;
	text-align: center;
	padding-top: 88px;
	color: azure;
	font-size: 16px;
}

.scale:hover .scale__item{
	transform: scale(0.5);

}
.translate, .scale, .rotate, .skew, .matrix, .transform-origin{
	display: inline-block;
}
.rotate:hover .rotate__item{
	transform: rotate(360deg);
	/*transform: rotate(-360deg);*/	

}
.skew:hover .skew__item{
	transform: skew(15deg, 30deg);
}

.matrix:hover .matrix__item{
	transform: matrix(0.5, -0.4, 1.5, 0.8, 0.3, 0.2);
}

.transform-origin:hover .transform-origin__item{
	transform-origin: 200px 200px;
	transform: rotate(90deg)
}

.row>div:not(:last-child){
	margin-right: 50px;
}
.row>div{
	margin-bottom: 20px;
}


.translate3d__item, .scale3d__item, .rotate3d__item, .transform-style__item{
	width: 200px;
	height: 200px;
	background-color: rgb(85, 197, 104);
	transition: all 0.8s;
	position: absolute;
	top: 0;
	left: 0;
	

}
.translate3d, .scale3d, .rotate3d, .transform-style{
	perspective: 800px;
	position: relative;
	/*display: inline-block;- не дозволяє рух 3д ефекту в translate3d. Об'єкти ведуть себе інакше ніж без inline-block*/
	display: inline-block;
}
.translate3d:hover .translate3d__item{
	transform: translate3d(20px, 20px, 200px);
}

.scale3d:hover .scale3d__item{
	transform: scale3d(0.5, 0.3, 0.5);
}

.rotate3d:hover .rotate3d__item{
	transform: rotate3d(20, 10, 10, 90deg);
}

.transform-style{
	transform-style: preserve-3d;
	perspective: 100px;
}
.transform-style:hover .transform-style__item{
	transform: rotate3d(20, 10, 100, 90deg);
}

/*Flipper*/
.face{
	width: 200px;
	height: 200px;
	background-color: rgb(85, 197, 104);
	transition: all 0.8s;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotateY(0deg);
	backface-visibility: hidden;
}
.flipper{
	display: inline-block;
	perspective: 500px;
	transform-style: preserve-3d;
	position: relative;
}
.flipper:hover .face{
	transform: rotateY(-180deg);
	
}

.back{
	width: 200px;
	height: 200px;
	background-color: rgba(109, 37, 202, 0.5);
	transition: all 0.8s;
	transform: rotateY(180deg);
}

.flipper:hover .back{
	transform: rotateY(0deg);
	
}



.car{
	width: 80%;
	margin: 0 auto;
	position: relative;
}

.car__item{
	position: relative;
	
}

.weel{
	width: 130px;
	height: 130px;
	background-color: rgb(75, 68, 68);
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 400px;
z-index: 4;
box-shadow: inset 13px 11px 18px 1px #676360;
}
.area-left{
	
	width: 89px;
	height: 76px;
	background-color: rgb(26, 25, 24);
	position: absolute;
	top: -14px;
	left: 373px;
	border-radius: 100% 0 0 0;
	
	z-index: 2;


}
.area-right{
	
	width: 89px;
	height: 76px;
	background-color: rgb(26, 25, 24);
	position: absolute;
	top: -14px;
	left: 460px;
	border-radius: 0 100% 0 0;
	z-index: 2;
	

}
.area-orange{
	width: 89px;
	height: 76px;
	background-color: rgb(235, 92, 9);
	position: absolute;
	top: -14px;
	left: 460px;
	border-radius: 0 100% 0 0;
	z-index: 1;
}
.trap-down{
	width: 41px;
	position: absolute;
	top: 42px;
	left: 332px;
	border-radius: 0 0 7px 0;
	
	border-bottom: 29px solid rgb(235, 92, 9);
	border-left: 13px solid transparent;
	border-right: 0px solid transparent;
}
.trap-up{
	width: 59px;
	position: absolute;
	top: -42px;
	left: 314px;
	border-radius: 0 0 0 0;
	border-bottom: 0 solid transparent;
	border-left: 32px solid transparent;
	border-right: 0 solid transparent;
	border-top: 87px solid rgb(235, 92, 9);
	z-index: 1;
}
.point{
	width: 15px;
   height: 17px;
   background-color: rgb(255 255 255);
   border-radius: 0 90% 90% 0;
   position: absolute;
   top: 34px;
   left: 329.7px;
}
.round-coner{
	width: 59px;
	position: absolute;
	top: -51px;
	left: 314px;
	border-radius: 7px 0 0 15px;
	background-color: rgb(235, 92, 9);
	height: 23px;

}
.area-up{
	width: 360px;
   height: 113px;
   background-color: rgb(235, 92, 9);
   position: absolute;
   top: -51px;
   left: 354px;
	
}
.capot-up-one{
	width: 400px;
   position: absolute;
   top: -68px;
   left: 314px;
   border-radius: 0 0 0 100%;
   border-bottom: 0 solid transparent;
   border-left: 32px solid transparent;
   border-right: 0 solid transparent;
   border-top: 53px solid rgb(235, 92, 9);
}
.capot-up-two{
	width: 400px;
	position: absolute;
	top: -121px;
	left: 314px;
	border-radius: 100% 0 0 0;
	border-bottom: 53px solid rgb(235, 92, 9);
	border-left: 32px solid transparent;
	border-right: 0 solid transparent;
	border-top: 0 solid transparent;
}
.corp{
	width: 276px;
	
	position: absolute;
	top: -250px;
	left: 552px;
	border-bottom: 312px solid rgb(235, 92, 9);
	border-left: 69px solid transparent;
	border-right: 0px solid transparent;
}
.triangl-up{
	border-left: 68px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 151px solid #9fb1c7;
	position: absolute;
	top: -267px;
	left: 560px;
	border-radius: 0 63px 10px 0;
}
.window{
	width: 130px;
	height: 117px;
	background-color: #9fb1c7;
	transform: skew(6deg, 0deg);
	border-radius: 10%;
	position: absolute;
	top: -235px;
	left: 650px;
}
.roof-one{
	width: 135px;
   position: absolute;
   top: -284px;
   left: 594px;
   border-radius: 100% 0 0 0;
   border-bottom: 34px solid rgb(235, 92, 9);
   border-left: 0 solid transparent;
   border-right: 0 solid transparent;
   border-top: 0 solid transparent;
}
.roof-two{
	width: 135px;
	position: absolute;
	top: -284px;
	left: 715px;
	border-radius: 0 100% 0 0;
	border-bottom: 34px solid rgb(235, 92, 9);
	border-left: 0 solid transparent;
	border-right: 0 solid transparent;
	border-top: 0 solid transparent;
}

/*back*/
.weel-back{
	width: 130px;
	height: 130px;
	background-color: rgb(75, 68, 68);
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 1110px;
z-index: 4;
box-shadow: inset 13px 11px 18px 1px #676360;
}
.area-left-back{
	width: 89px;
	height: 67px;
	background-color: rgb(26, 25, 24);
	position: absolute;
	top: -14px;
	left: 1083px;
	border-radius: 100% 0 0 0;
	z-index: 2;


}
.area-right-back{
	width: 89px;
	height: 67px;
	background-color: rgb(26, 25, 24);
	position: absolute;
	top: -14px;
	left: 1171px;
	border-radius: 0 100% 0 0;
	z-index: 2;
}

.carcase{
	width: 513px;
	height: 166px;
	position: absolute;
	top: -113px;
	left: 828px;
	background-color: rgb(235, 92, 9);

}

.arch{
	width: 266px;
   height: 134px;
   position: absolute;
   top: -81px;
   left: 1049px;
   background-color: rgb(231, 120, 55);
   border-radius: 44px 98px 0 0;
   box-shadow: inset 18px 13px 26px 5px #f7ae69, -8px -2px 16px 4px #7f4f21;
}
.boad-g{
	width: 513px;
	height: 7px;
	position: absolute;
	top: -113px;
	left: 828px;
	background-color: rgb(219 102 34);
	box-shadow: 0 4px 6px -2px #7f4f21;
}
.boad-v{
	width: 4px;
	height: 166px;
	position: absolute;
	top: -113px;
	left: 828px;
	background-color: rgb(219 102 34);
	box-shadow: 4px 0px 13px 2px #7f4f21;
}
.headlight{
	width: 32px;
	position: absolute;
	top: 5px;
	left: 326px;
	border-radius: 10px 0 0 15px;
	background-color: rgb(112, 110, 109);
	height: 34px;
}

.disk-back{
	width: 70px;
	height: 70px;
	background-color: rgb(112, 112, 112);
	border-radius: 50%;
	position: absolute;
	top: 30px;
	left: 1141px;
	z-index: 4;
	box-shadow: -4px 2px 9px 1px #000000, inset -4px 2px 13px 1px #000000;
}
.disk{
	width: 70px;
	height: 70px;
	background-color: rgb(112, 112, 112);
	border-radius: 50%;
	position: absolute;
	top: 28px;
	left: 432px;
	z-index: 4;
	box-shadow: -4px 2px 9px 1px #000000, inset -4px 2px 13px 1px #000000;
}